IceStorm.TopicManager.Proxy=IceStorm/TopicManager:tcp -p 10000
Ice.Default.Locator=IceGrid/Locator -t:tcp -h 127.0.0.1 -p 9091
TransferFactoryAdapter.Endpoints=tcp 
TransferFactoryAdapter.Locator=IceGrid/Locator -t:tcp -h 127.0.0.1 -p 9091
TransferFactoryAdapter.AdapterId=TransferFactory1
PeerEventAdapter.Endpoints=tcp
